@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .myself {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__possibilities {
            &__wrapper {
                column-gap: 20px;
                grid-template-columns: repeat(2, 250px);
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 50px 0 50px;
            column-gap: 50px;
        }
    }
    .work {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            justify-content: center;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2,350px);
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .myself {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__possibilities{
            &__wrapper {
                row-gap: 20px;
                grid-template-columns: 380px;
                grid-template-rows: 80px;
                grid-auto-rows: minmax(80px, auto);
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 425px;
            justify-content: center;
        }
    }
    .work {
        &__wrapper {
            grid-template-columns: repeat(2,270px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .myself {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 400px auto auto;
        }
        &__photo {
            grid-row: unset;
        }
        &__possibilities {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            &__wrapper {
                grid-template-columns: repeat(2, 260px);
                grid-template-rows: 115px;
                grid-auto-rows: minmax(115px, auto);
                row-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
    }
    .work {
        padding-top: 40px;
    }
    .skills {
        margin-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(1,350px);
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .myself {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto auto;
        }
        &__possibilities {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            &__wrapper {
                grid-template-columns: 1fr;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: auto;
            padding: 0;
        }
        &__column {
            &-title {
                margin-top: 40px;
            }
        }
    }
    .work {
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(1,270px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(1,300px);
        }
    }
}